transformers
diffusers
accelerate
huggingface-hub
ninja
xatlas
imageio
matplotlib
pyrallis
loguru
tqdm
einops
plyfile
vedo
scikit-image
imageio-ffmpeg
timm
ftfy
regex
git+https://github.com/openai/CLIP.git
tensorboard
libigl
